<h1>{{persona.nombre}}</h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" [routerLink]="['/'+subtype+'s']">
          <i class="fa fa-arrow-left"></i> 
          Regresar 
      </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">

        <form (ngSubmit)="save( f )" #f="ngForm">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="persona.id" name="id" disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="persona.nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label>Codigo</label>
                <input type="text" class="form-control" placeholder="Codigo" [(ngModel)]="persona.cod" name="cod" required>
            </div>

            <div class="form-group">
                <label>Nombre Corto</label>
                <input type="text" class="form-control" placeholder="Nombre Corto" [(ngModel)]="persona.nmb" name="nmb" required>
            </div>

            <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="persona.direccion" name="direccion" required>
            </div>

            <div class="form-group">
                <label>Localidad</label>
                <input type="text" class="form-control" placeholder="Localidad" [(ngModel)]="persona.localidad" name="localidad" required>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="persona.estado === 'Activo'" (click)="persona.estado = 'Inactivo'" type="button" class="btn btn-outline-success w-50">
                    <i class="fa fa-smile-wink"></i>
                    {{persona.estado}}
                </button>
                <button *ngIf="persona.estado !== 'Activo'" (click)="persona.estado = 'Activo'" type="button" class="btn btn-outline-danger w-50">
                    <i class="fa fa-dizzy"></i>
                    {{persona.estado}}
                </button>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                  </button>
            </div>


        </form>

    </div>
</div>